*.bin
*.sqfs
*.ext2
*.xz
*.tar
*.gz
*.zz
*.txt
*.elf
*.exe
*.o
*.so
*.dump
*.out
*.TODO
*.elftoc.c
*.txt
*.deb
*.rivtape
*.rivincard
*.rivoutcard

# wasm
rivemu.js
rivemu.wasm

# distribution binaries
/dist

# ignore generated binaries
/rivemu/rivemu
/rivemu/rivemu-linux-*

# ignore generated C sources
/rivemu/rivemu.c
/libriv/libriv.c

# external demos
/demos/game-freedoom
/demos/game-antcopter
/demos/game-monky
/demos/game-tetrix
