*.bin
*.sqfs
*.ext2
*.xz
*.tar
*.gz
*.zz
*.txt
*.elf
*.exe
*.o
*.so
*.dump
*.out
*.TODO
*.fs
*.elftoc.c
*.rivlog
*.txt
*.hash
*.outcard
*.deb

rivemu.js
rivemu.wasm

/dist

# ignore generated binaries
/rivemu/rivemu
/rivemu/rivemu-linux-*

# ignore generated C sources
/rivemu/rivemu.c
/libriv/libriv.c

# demos
demos/freedoom
demos/antcopter
demos/monky
demos/tetrix
