.button,
.joystick {
  position: absolute;
  z-index: 30;
  touch-action: none;
}
.button {
  width: 100px;
  height: 160px;
  touch-action: none;
}
#gamepad {
  display: none;
}
.gamepad-area {
    touch-action: none;
}
.pannel {
  position: absolute;
  top: 0px;
  width: 380px;
  height: 640px;
  z-index: 30;
  touch-action: none;
}

#joystickUp {left: 20px; top: 340px; width: 300px; height: 100px;}
#joystickDown { left: 20px; top: 540px; width: 300px; height: 100px; }
#joystickLeft { left: 20px; top: 340px; width: 100px; height: 300px; }
#joystickRight { left: 220px; top: 340px; width: 100px; height: 300px; }

#buttonV { right: 20px; top: 340px; width: 300px; height: 100px; }
#buttonZ { right: 20px; top: 540px; width: 300px; height: 100px; }
#buttonC { right: 220px; top: 340px; width: 100px; height: 300px; }
#buttonX { right: 20px; top: 340px; width: 100px; height: 300px; }

#buttonS { left: 20px; top: 115px; }
#buttonA { left: 20px; top: 20px; }
#buttonD { right: 20px; top: 115px; }
#buttonF { right: 20px; top: 20px; }

#buttonW { left: 220px; top: 20px }
#buttonQ { left: 220px; top: 115px }
#buttonE { right: 220px; top: 20px }
#buttonR { right: 220px; top: 115px }

#pannelLeft { left: 0px; }
#pannelRight { right: 0px; }

.inner-btn {
    background-color: rgba(255, 153, 153, 0.8);
    width: 100%;
    height: 100%;
}
.hor {
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 1) 150px, rgba(0, 0, 0, 0) 225px);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 1) 150px, rgba(0, 0, 0, 0) 225px);
}

.vert {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 1) 150px, rgba(0, 0, 0, 0) 225px);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75 px, rgba(0, 0, 0, 1) 150px, rgba(0, 0, 0, 0) 225px);
}

.vert-top {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 130px);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 130px);
}

.vert-bot {
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 130px);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 130px);
}